@import './partials/variables.scss';
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

/* --------------------
COMMONS
-------------------- */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.container {
  max-width: 1000px;
  min-width: 1000px;
  margin: 0 auto;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: 'Poppins', sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}


// DARK / LIGHT SECTIONS
.dark-section {
  background-color: $bg-darker;
  color: $text-light-low-contrast;

  h1, h2, h3, h4, h5 {
    color: $text-light;
  }

  .title-header {
    color: $primary-light;
  }

  .icons {
    color: $primary-light;
  }
}

.light-section {
  background-color: #ffffff; 
  color: $text-dark-low-contrast;

  h1, h2, h3, h4, h5 {
    color: $text-dark;
  }

  .title-header {
    color: $primary-light;
  }

  .icons {
    color: $primary-light;
  }
}


//FLOAT CLASS
.clearfix::after {
  display: table;
  content: "";
  clear: both;
}

.floatleft {
  float: left;
}

.floatright {
  float: right;
}


/*TODO
COMMONS:
-togliere spazietto prima del titolo quando non serve

HEADER:
-props per navbar
-migliorare css hover

CONSULTING:
-schiarire la freccia del select
-sistemare il dropdown del select
-sistemare bottoni
*/