/* --------------------
BRAND IDENTITY
-------------------- */
// COLORS
$primary: #058283;
$primary-light: #58a8a9;
$primary-highlight: #cce3de;
$primary-hover: #58a8a9;


// TEXT W/B
$text-light: #ffffff;
$text-light-low-contrast: #c0c3d0;
$text-dark: #21333e;
$text-grey: rgb(100, 100, 100);

// BACKGROUND
$bg-lightest: #ffffff;
$bg-lighter: #f2f2f0;
$bg-light: #d9dde0;
$bg-dark: #21333e;
$bg-darker: #111117;
$bg-darkest: #0d0d11;

$bg-input: #c3c3c371;
